<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button  [raised]="true" [outlined]="true" label="Editar" (click)="showDialog()" icon="pi pi-pencil"></p-button>
  }
  <p-dialog  header="Editar categoria" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div  class="card flex justify-content-center" class="custom-dialog">
        <div  class="flex flex-row gap-4">

            <div style="width:100%;" class="flex flex-column">
                <label for="username1">Nombre</label>
                <input class="{{estiloValidacionNombre}}" pInputText id="username1" aria-describedby="username-help1" [(ngModel)]="categoria.nombre" />
                <small id="username-help1">Introduce un nombre para la nueva categoria</small>
            </div>
            

            <div class="flex flex-column">
                <label for="username2">Subcategoria</label>
                    <p-inputSwitch [(ngModel)]="subcategoria"></p-inputSwitch>
                <small id="username-help2">Indíca si esta categoria va a depender de otra categoria</small>
            </div>
            @if(subcategoria){

                <div class="flex flex-column subcategoria-seleccionada">
                    <label for="username2">Categoria principal</label>
                    <p-dropdown  class="{{estiloValidacionDependiente}}" [options]="listaCategorias" [(ngModel)]="categoriaDependiente" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una categoria"></p-dropdown>
                    <small id="username-help2">Indíca la categoria a la que pertenece esta subcategoria</small>
                </div>
            }
            </div>
        </div>
        <div style="margin-top: 20px; width:100%;" >
            <div style="margin-top: 20px; display: flex; gap: 10px;" >
                <app-confirm tipo="Guardar" icono="save" mensaje="¿Deseas guardar los cambios?" color="success" (confirmacion)="guardar($event)"></app-confirm>
                <app-confirm tipo="Borrar" icono="trash" mensaje="¿Deseas borrar esta categoria?" color="danger" (confirmacion)="eliminar($event)"></app-confirm>
            </div>
        </div>
        
  </p-dialog>
</div>
