<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button [raised]="true" [outlined]="true" (click)="showDialog()" icon="pi pi-pencil" label="Editar"></p-button>
  }
  <p-dialog header="Editar franja" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
      <div class="">
            <div style="margin-top: 20px;">

                <label for="username1" style="margin-top: 20px">Hora inicio</label>
                <div style="display: flex;gap: 10px;margin-top: 20px">
                    <p-dropdown [styleClass]="estiloValidacionHoras" [options]="horas" [(ngModel)]="horaInicio.hora"
                    optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                    
                    <p-dropdown [styleClass]="estiloValidacionMinutos" [options]="minutos" [(ngModel)]="horaInicio.minuto"
                    optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                </div>

        </div>
            <div style="margin-top: 20px;">

                <label style="margin-top: 200px;" for="username1">Hora finalización</label>
                <div style="display: flex; gap: 10px;margin-top: 20px;" class="flex flex-rows">
                    <p-dropdown [styleClass]="estiloValidacionHoras" [options]="horas" [(ngModel)]="horaFin.hora"
                    optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                    
                    <p-dropdown [styleClass]="estiloValidacionMinutos" [options]="minutos" [(ngModel)]="horaFin.minuto"
                    optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                    
                </div>
            </div>
            <div style="margin-top: 20px">

                <label style="margin-top: 20px;" for="username1">Turno</label>
                <div class="flex flex-rows" style="margin-top: 20px">
                    <p-dropdown [styleClass]="estiloValidacioneTurno" [options]="turnosDisponibles" [(ngModel)]="turnoElegido"
                    optionLabel="nombre" [showClear]="true" placeholder="Turno"></p-dropdown>
                </div>



        </div>
        <div style="margin-top: 70px; display: flex;gap: 10px;">

          <app-confirm tipo="Guardar" icono="pi pi-save" mensaje="¿Deseas guardar los cambios?" color="success"
            (confirmacion)="modificar($event)"></app-confirm>
          <app-confirm tipo="Borrar" icono="pi pi-trash" mensaje="¿Deseas eliminar esta franja ?" color="danger"
            (confirmacion)="eliminar($event)"></app-confirm>
        </div>

      </div>
    </div>
  </p-dialog>
</div>
