<p-toast></p-toast>

@if(horarios){
    <!-- //Óscar -->
    <div style="margin-top: 100px;" class="card">
        
        <p-table
        [value]="horarios"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} horarios"
        [rowsPerPageOptions]="[5, 10, 20]"
        >
        

            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                   Horarios 
                </div>
            </ng-template>
     

            <ng-template pTemplate="header">
                <tr>
                   
                    <th style="width:20%">Hora Inicio</th>
                    <th style="width:20%">Hora fin</th>
                    <th style="width:20%">Turno</th>
                    <th  style="width: 20%;">Estado</th>
                    <th> <app-fecha-reservas (newDate)="nuevaFecha($event)" (newHorarios)="nuevosHorarios($event)" [id]="idAula" [day]="day" [month]="month" [year]="year" [horarios]="horarios"></app-fecha-reservas>
                    </th>
                </tr>
            </ng-template>
        
        <ng-template pTemplate="body" let-horario>
            
            
            <tr>
                <td>{{ horario.franja.horaInicio}}</td>
                <td>{{ horario.franja.horaFin}}</td>
                <td>{{ horario.franja.turno}}</td>
                 @if(horario.reservado==null){
                    <td style="color: green;">LIBRE</td>
                    <td><app-confirm tipo="Reservar" color="success" (confirmacion)="reservar($event,horario.id)"  mensaje="¿Desea reservar este horario?"></app-confirm></td>
                 }@else {

                     <td ><p style="color: red">RESERVADO</p></td>

                     @if(horario.reservado.idProfesor==authService.getUid()){
                        
                        @if(horario.reservado.estado==0){

                            <td><app-confirm tipo="Anular" mensaje="¿Desea anular esta reserva?" color="danger" (confirmacion)="eliminar($event,horario.reservado.id)"> </app-confirm></td>
                        }@else{
                            <td></td>
                                        
                        }
                     }@else{
                        <td></td>
                     }
                    }
            </tr>
            
        </ng-template>
        
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
        
    </p-table>
</div>

}@else{

    <div class="card" style="margin-top: 10px;">
        <p-table [value]="horarios!" [tableStyle]="{ 'min-width': '50rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
               nhhhhhhhh
                
            </div>
        </ng-template>
    </p-table>
</div>
}