<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button severity="success" [raised]="true" [outlined]="true" (click)="showDialog()" icon="pi pi-plus" label="Añadir"></p-button>
  }
  <p-dialog header="Crear nuevo aula" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="username1">Nombre</label>
                <input  class="{{estiloValidacionTexto}}" pInputText id="username1" aria-describedby="username-help1" [(ngModel)]="nuevaAula.nombre"/>
                <small id="username-help1">Introduce un nombre para el nuevo aula </small>

        </div>
        <div style="margin-top: 20px;" >

            <app-confirm tipo="Añadir" icono="pi pi-plus" mensaje="¿Deseas crear este nuevo aula?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
    </div>
    </div>
  </p-dialog>
</div>
