<p-toast></p-toast>
<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-plus" label="Nuevo"></p-button>
    <p-dialog header="Crear evento" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">

    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="titulo">Nombre</label><br>
                <input  class="{{ validacionNombre }}" pInputText id="titulo" aria-describedby="titulo" [(ngModel)]="nuevoEvento.nombre" /><br>
                <small id="titulo">Introduce un nombre para el nuevo evento</small><br><br>
            </div>

            <div class="flex flex-column">
                <label for="descripcion">Descripción</label><br>
                <input  class="{{ validacionDescripcion }}" pInputText id="evento" aria-describedby="descripcion" [(ngModel)]="nuevoEvento.descripcion" /><br>
                <small id="descripcion">Introduce una descripción para la nueva noticia</small><br><br>
            </div><br>

            <div class="datepicker-container" cdkOverlayContainer>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle disabled matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
            </div><br>

            <div class="flex felx-column">
                <label for="visibilidad">Visibilidad</label>
                <input type="checkbox" ng-model="checkboxModel.value1" ng-true-value="'YES'" ng-false-value="'NO'" class="{{ visibilidad }}" id="visilidad" aria-describedby="evento" [(ngModel)]="nuevoEvento.visibilidad"/><br><br>
            </div>

            <div class="flex flex-column">
                <label for="fotoCartel">Foto de cartel</label><br><br>
                    <input #archivo type="file" id="archivo" class="form-control" accept="image/*" (change)="uplodadFoto($event)" ><br>
                    @if(fotoPreview){
                        <p-button (onClick)="limpiarFoto(archivo)">Limpiar</p-button>
                    }
                <small id="fotoCartel">Subir una foto para esta noticia</small><br>
            </div>
            <br>
            @if(fotoPreview){
                <img [src]="fotoPreview">
            }

        </div><br>
        <div style="margin-top: 20px;" >
            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas crear este evento?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
        </div>
    </p-dialog>
</div>
