<!-- //Óscar -->

<div style="margin-top:40px;" class="card">
    <p-table
        [value]="listaCategorias"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorias"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Administrar Categorias
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass" style="border: none;" >
                <th style="width:10%"><app-nueva-categoria></app-nueva-categoria></th>
                <th style="width:40%">Nombre</th>
                <th style="width:30%">Tipo de categoria</th>
                <th style="width:20%">Categoria a la que pertenece</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr class="glass">
                <td><app-editar-categoria [listaCategorias]="listaCategorias" [id]="categoria.id"></app-editar-categoria></td>
                <td>{{ categoria.nombre}}</td>
                @if(categoria.dependiente==null){
                    <td>Principal</td>
                }@else {
                    <td>Subcategoria</td>
                }
                @if(categoria.dependiente==null){
                    <td>[Categoría principal]</td>
                }@else {
                    @for (categoria2 of listaCategorias; track categoria2.id) {
                        @if(categoria2.id==categoria.dependiente){
                            <td>{{ categoria2.nombre }}</td>
                            
                        }
                    }
                   
                }
             
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
            
        </ng-template>
    </p-table>
</div>
