

    <div class="container">
    <img src="../../../assets/CEPA.jpg">
    <div class="card2">
        <h3>Centro Educación Personas Adultas</h3>
        <p>Dirección: c/ Bernardo Balbuena 5, 13002 Ciudad Real <br>
            Teléfono: 926 21 47 66 <br>
            E-Mail: 13004067.cea&#64;edu.jccm.es</p>
        <p class="card-footer">&copy; TODOS LOS DERECHOS RESERVADOS</p>
    </div><br><br>
    @if(eventos!=undefined){

        <h1>ÚLTIMO EVENTO</h1>
        <app-preview-eventos [evento]="eventos[last]"></app-preview-eventos>
    }
    <h1>ÚLTIMAS NOTICIAS</h1>
    <div style="max-width: 500px;">
        @if(noticias!=undefined){
            @for (noticia of noticias; track noticia.id) {
                <app-preview-noticia [noticia]="noticia"></app-preview-noticia>
            }
        }
    </div>
</div>

