body {
  color: #224 !important;
 }
 
 .card2 {
  position: relative;
  margin-top: 20px;
  max-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width:400px ;
  height: 300px!important;
  padding: 35px;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
 }
 
 .card-footer {
  font-size: 0.65em;
  color: #446;
 }
 
 .home {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 205vh; 
  padding: 20px 0; 
 }
 

 .container {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
