
<!-- //Óscar -->

<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="listaAulas"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} aulas"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Aulas
           
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass">
                @if(authService.getAccess=='jefedeestudios'){

                    <th>

                        <app-nueva-aula [listaAulas]="listaAulas"></app-nueva-aula>
                    </th> 
                }@else {

                    <th></th>
                }
                <th style="width:10%">Nº</th>
                <th style="width:40%">Nombre</th>
                <th style="width:30%"></th>
                <th style="width:20%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aula>
            <tr class="glass">
                @if(authService.getAccess=='jefedeestudios'){

                    <td><app-editar-aula [listaAulas]="listaAulas" [id]="aula.id"></app-editar-aula></td>
                }@else {<td></td>}
                <td>{{ aula.id}}</td>
                <td>{{ aula.nombre}}</td>
                @if(authService.getAccess=='jefedeestudios'){

                    <td>    <p-button severity="help" [raised]="true" label="Horarios" [outlined]="true"  routerLink="{{aula.id}}/horarios"></p-button></td>
                    <td><p-button severity="warning" [raised]="true" [outlined]="true" label="Reservas" routerLink="{{aula.id}}/reservas"></p-button></td>
                }@else {
                    <td colspan="2"><p-button severity="help" [raised]="true" label="Horarios" [outlined]="true"  routerLink="{{aula.id}}/horarios"></p-button></td>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
            
        </ng-template>
    </p-table>
</div>
