<app-nuevo-eventos></app-nuevo-eventos>
<div style="margin-top: 100px;" class="card">
    <p-table
        [value]="eventos"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} eventos"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Editar</th>
                <th style="width:10%">Ver asistentes</th>
                <th style="width:13.33%">Nombre</th>
                <th style="width:13.33%">Descripción</th>
                <th style="width:13.33%">Fecha</th>
                <th style="width:13.33%">Hora</th>
                <th style="width:13.33%">Me gusta</th>
                <th style="width:13.33%">Visibilidad</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-evento>
            <tr>
                <td><app-editar-evento [eventos]="eventos" [id]="evento.id"></app-editar-evento></td>
                <td><p-button routerLink="/admin/asistencias/{{evento.id}}" icon="pi pi-eye" title=""></p-button></td>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.fecha }}</td>
                <td>{{ evento.hora }}</td>
                <td>{{ evento.mg }}</td>
                <td >{{ evento.visibilidad ? 'Si' : 'No' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>