<p-toast></p-toast>
<div style="margin-top: 100px;" class="card">
    <p-table
        [value]="usuarios"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem','max-width':'80rem','margin':'auto' }"
        currentPageReportTemplate="Mostrando asistentes"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Administrar Asistentes
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%"><app-nuevo-asistente-evento></app-nuevo-asistente-evento></th>
                <th style="width:40%">Nombre</th>
                <th style="width:40%">Email</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>
                    <app-confirm tipo="Eliminar" icono="trash" mensaje="¿Deseas borrar este asistente?" color="danger" (confirmacion)="eliminar(usuario.id, $event)"></app-confirm>
                </td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
