<p-toast></p-toast>
<p-button (click)="showDialog()" icon="pi pi-eye" label="Ver asistencias"></p-button>
<p-dialog header="Asistentes" [(visible)]="visible" [modal]="true" 
  [draggable]="false" (onHide)="cerrar();" [resizable]="false">

<div style="margin-top: 100px;" class="card">
    <p-table
        [value]="usuarios"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} asistentes"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%"></th>
                <th style="width:40%">Nombre</th>
                <th style="width:40%">Email</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
</p-dialog>
