<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button [raised]="true" [outlined]="true" severity="success" (click)="showDialog()" icon="pi pi-plus" label="Crear "></p-button>
  }
  <p-dialog header="Crear nueva franja" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">
            <div style="margin-top: 20px;">

                <label for="username1">Hora inicio</label>
                <div style="display: flex;gap: 10px;margin-top: 20px">
                    
                    <p-dropdown [styleClass]="estiloValidacionHoras"  [options]="horas" [(ngModel)]="horaInicio.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                    
                    <p-dropdown  [styleClass]="estiloValidacionMinutos" [options]="minutos" [(ngModel)]="horaInicio.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                </div>
          
        </div>
        <div style="margin-top: 20px;">

            <label for="username1">Hora finalización</label>
            <div style="display: flex;gap: 10px;margin-top: 20px">
                
                <p-dropdown [styleClass]="estiloValidacionHoras"  [options]="horas" [(ngModel)]="horaFin.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                
                <p-dropdown [styleClass]="estiloValidacionMinutos"  [options]="minutos" [(ngModel)]="horaFin.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                
            </div>
        </div>
        <div style="margin-top: 20px;">

            <label for="username1">Turno</label>
            <div style="display: flex;gap: 10px;margin-top: 20px">
                
                <p-dropdown  [styleClass]="estiloValidacioneTurno"  [options]="turnosDisponibles" [(ngModel)]="turnoElegido" optionLabel="nombre"  [showClear]="true" placeholder="Turno"></p-dropdown>
                
                
                
            </div>
        </div>
        <div style="margin-top: 70px;" >

            <app-confirm tipo="Crear" icono="pi pi-plus" mensaje="¿Deseas crear esta nueva franja?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
        <div style="margin-top: 20px;" >

        </div>
    </div>
    </div>
  </p-dialog>
</div>
