
/* label{
    color: green;
} */

.p-menuitem-text{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
li {
    list-style: none;
}
@media (max-width: 960px) {
   .p-submenu-list {
        display:block;
    }
}
.p-menubar  {
    /* background-color: rgb(200, 16, 46); */
    background-color:#ffffffdd;
    border-radius: 10px;
    box-shadow: 1px;
} 
html{
    background-color:#ffffffdd;
}
.p-menuitem {

    border-radius: 10px;
} 