<!-- //Óscar -->
@switch (servicioAutenticacion.getAccess) {
    @case ('administrador') {
        @if(servicioAutenticacion.hasRol(['Administrador'])){
            <p-menubar  [model]="adminItems">
                <ng-template pTemplate="start">
                    <img src="../../../assets/logoadultos_original.jpg" height="40" class="mr-2" />
                </ng-template>

                <ng-template pTemplate="end">
                    @if(servicioAutenticacion.isLoggedIn){
                        <app-profile-icon [nombre]="username"></app-profile-icon>
                    }@else {
                        <app-login  [tipo]="1" [visible]="modalLogin" (cerrarModal)="modalLogin = false" ></app-login>
                    }
                </ng-template>
            </p-menubar>
        }@else{
            {{servicioAutenticacion.clearAccess()}}
        }
        
        <app-nueva-categoria [tipo]="1" [visible]="modalCategoriaNueva" (cerrarModal)="modalCategoriaNueva = false"></app-nueva-categoria>
        <app-nueva-noticia [tipo]="1" [visible]="modalNoticiaNueva" (cerrarModal)="modalNoticiaNueva = false"></app-nueva-noticia>
    }
    @case ('jefedeestudios') {
        @if(servicioAutenticacion.hasRol(['Jefe de estudios'])){
            <p-menubar  [model]="dtoItems">
                <ng-template pTemplate="start">
                    <img style="margin-right: 30px;" src="../../../assets/logoadultos_original.jpg" height="40" class="mr-2" />
                </ng-template>
                <ng-template pTemplate="end">
                    @if(servicioAutenticacion.isLoggedIn){
                        <app-profile-icon [nombre]="username"></app-profile-icon>
                    }@else {
                        <app-login  [tipo]="1" [visible]="modalLogin" (cerrarModal)="modalLogin = false" ></app-login>
                    }
                </ng-template>
            </p-menubar>
        }@else{
            {{servicioAutenticacion.clearAccess()}}
        }
    }
    @case ('profesor') {
        @if(servicioAutenticacion.hasRol(['Profesor'])){
            <p-menubar  [model]="profItems">
                <ng-template pTemplate="start">
                    <img style="margin-right: 30px;" src="../../../assets/logoadultos_original.jpg" height="40" class="mr-2" />
                </ng-template>
                <ng-template pTemplate="end">
                    @if(servicioAutenticacion.isLoggedIn){
                        <app-profile-icon [nombre]="username"></app-profile-icon>
                    }@else {
                        <app-login  [tipo]="1" [visible]="modalLogin" (cerrarModal)="modalLogin = false" ></app-login>
                    }
                </ng-template>
            </p-menubar>
        }@else{
            {{servicioAutenticacion.clearAccess()}}
        }
    }
    @default {
        
        <p-menubar [autoDisplay]="true" [autoHide]="true"  [model]="items">
            <ng-template pTemplate="start">
                <img style="margin-right: 30px;" src="../../../assets/logoadultos_original.jpg" height="40" class="mr-2" />
            </ng-template>
            <ng-template pTemplate="end">
            @if(servicioAutenticacion.isLoggedIn){
                   <app-profile-icon [nombre]="username"></app-profile-icon>
            }@else {
                    <app-login  [tipo]="1" [visible]="modalLogin" (cerrarModal)="modalLogin = false" ></app-login>
                }
            </ng-template>
            </p-menubar>
    }
}
