<p-toast></p-toast>
<div style="margin-top: 40px;" class="card">
    <!-- //Óscar -->
    <p-table
        [value]="listaReservas"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} reservas"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <div>

                Reservas
            </div>
            
         </div>
          
        </ng-template>
    
        <ng-template pTemplate="header">
            <tr class="header-glass">
             
                <th style="width:15%">Aula</th>
                <th style="width:10%">Fecha</th>
                <th style="width:10%">Hora Inicio</th>
                <th style="width:10%">Hora Fin</th>
                @if(authService.getAccess!='profesor'){
                    <th style="width:10%">Profesor</th>
                    <th style="width:20%">Email</th>
                    <th colspan="2" style="width:10%">Estado</th>
                }@else {
                    <th colspan="4" style="width:10%">Estado</th>
                }
              
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-reserva>
            <tr class="glass">
                <td>{{reserva.aula.nombre}}</td>
                <td>{{ reserva.fecha}}</td>
                <td>{{ reserva.horario.franja.horaInicio}}</td>
                <td>{{ reserva.horario.franja.horaFin}}</td>
                @if(authService.getAccess!='profesor'){
                <td> {{reserva.profesor.nombre}}  </td>
                <td>{{reserva.profesor.email}}</td>
                }
               @switch (reserva.estado) {
                 @case (0) {
                    <td style="color: red;">Pendiente</td>
                    <td> <app-confirm tipo="Anular" icono="trash" mensaje="¿Deseas anular esta reserva?" color="danger" (confirmacion)="eliminar($event,reserva.id)"></app-confirm></td>
                 }
                 @case (1) {
                    <td colspan="2" style="color: green;">Vencida</td>
                 }
                 @case (2) {
                    <td colspan="2" style="color: orange;">En curso</td>
                 }
               }
            </tr>

       
            
        </ng-template>


            <!-- <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template> -->
            <ng-template pTemplate="footer">
   
</ng-template>
               
            
    </p-table>
</div>
