img {
    border-radius: 10px ;


}
.mt10{
    margin-top: 30px;
}
p-card{
    border-radius: 10px;
}

.p-card {
    margin: auto;
    margin-top: 20px;
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    max-width: 500px;
   
  }

  .p-card-header img {
    max-width: 100%;
    max-height: 250px;
  }