<!--Raul-->
<p-toast></p-toast>
<div class="card flex justify-content-center">
  <!--@if(tipo==0){-->
  <p-button [raised]="true" severity="success" [outlined]="true" (click)="showDialog()" icon="pi pi-plus" label="Nueva"></p-button>
  <!--}-->
  <p-dialog header="Crear nuevo usuario" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="username1">Nombre</label>
                <input class="{{estiloValidacionNombre}}" pInputText id="nombre" aria-describedby="username-help1" [(ngModel)]="nuevoUsuario.nombre" />
                <small id="username-help1">Introduce un nombre para el nuevo usuario</small>
            </div>

            <div class="flex flex-column">
                <label for="username2">Correo</label>
                <input class="{{estiloValidacionCorreo}}" pInputText id="email" aria-describedby="username-help2" [(ngModel)]="nuevoUsuario.email" />
                <small id="username-help2">Introduce un correo para el nuevo usuario</small>
            </div>
            
            <div class="flex flex-column">
                <label for="username3">Contraseña</label>
                <input class="{{estiloValidacionPassword}}" pInputText id="password" aria-describedby="username-help3" [(ngModel)]="nuevoUsuario.password" />
                <small id="username-help3">Introduce una contraseña para el nuevo usuario</small>
            </div>

            </div>
        </div>
        <div style="margin-top: 20px;" >

            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas crear este nuevo usuario?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
  </p-dialog>
</div>
