<p-toast></p-toast>

@if(aula.horarios){
    <!-- //Óscar -->
    <div style="margin-top: 40px;" class="card">
        
        <p-table
        [value]="aula.horarios"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"    
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} horarios"
        [rowsPerPageOptions]="[5, 10, 20]"
        >
    
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  Horarios
                </div>
            </ng-template>
        

            <ng-template pTemplate="header">
                <tr class="header-glass">
                    <th> <app-nuevo-horario [aula]="aula"></app-nuevo-horario></th>
                    <th style="width:30%">Hora Inicio</th>
                    <th style="width:20%">Hora fin</th>
                    <th style="width:40%">Turno</th>
                </tr>
            </ng-template>
        
        <ng-template pTemplate="body" let-horario>
            
            
            <tr class="glass">
                <td> <app-confirm tipo="Borrar" icono="trash" mensaje="¿Deseas borrar este horario?" color="danger" (confirmacion)="eliminar($event,horario.id)"></app-confirm></td>
                <td>{{ horario.franja.horaInicio}}</td>
                <td>{{ horario.franja.horaFin}}</td>
                <td>{{ horario.franja.turno}}</td>
            </tr>
            
        </ng-template>
        
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
        
    </p-table>
</div>

}