<p-toast></p-toast>
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button (click)="showDialog()" [raised]="true" [outlined]="true" icon="pi pi-pencil" label="Editar"></p-button>
  }
  <p-dialog header="Editar evento" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">

    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="titulo">Nombre</label><br>
                <input  class="{{ validacionNombre }}" pInputText id="nombre" aria-describedby="nombre" [(ngModel)]="eventoModal.nombre" /><br>
                <small id="titulo">Introduce un nombre para el nuevo evento</small><br><br>
            </div>

            <div class="flex flex-column">
                <label for="descripcion">Descripción</label><br>
                <textarea  class="{{ validacionDescripcion }}" rows="20" cols="60" id="descripcion" aria-describedby="descripcion" [(ngModel)]="eventoModal.descripcion"></textarea><br>
                <small id="descripcion">Introduce una descripción para el nuevo evento</small><br><br>
            </div><br>

            <div class="datepicker-container" cdkOverlayContainer>
                <label for="descripcion">Fecha</label><br><br>
                <input class="{{ validacionFecha }}" pInputText id="fecha" placeholder="DD/MM/YYYY" aria-describedby="fecha" [(ngModel)]="eventoModal.fecha"/><br>
                <small id="descripcion">Introduce una fecha para el evento con formato DIA/MES/AÑO con números completos</small>
            </div><br>

            <div class="flex felx-column">
                <label for="hora">Hora</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="time" class="{{ validacionHora }}"id="hora" name="hora" [(ngModel)]="eventoModal.hora">&nbsp;&nbsp;&nbsp;&nbsp;
                <small id="hora">Introduce una hora para el nuevo evento</small>
            </div><br>

            <div class="flex flex-column">
                <label for="visibilidad">Visibilidad</label>
                <input type="checkbox" ng-model="checkboxModel.value1" ng-true-value=true ng-false-value=false class="{{ validacionVisibilidad }}" id="visilidad" aria-describedby="evento" [(ngModel)]="eventoModal.visibilidad"/><br><br>
            </div>

            <div class="flex flex-column">
                <label for="asistentes">Asistentes</label><br>
                <input type="number" id="asistentes" pInputNumber min="0" [(ngModel)]="eventoModal.numAsistentes"><br>
                <small id="asistentes">Introduce un número máximo de asistentes para el evento</small><br><br>
            </div>

        </div><br>
    <div style="margin-top: 20px;" >
        <app-confirm tipo="Guardar" icono="plus" mensaje="¿Deseas guardar los cambios?" color="success" (confirmacion)="guardar($event)"></app-confirm>
    </div>
    <div style="margin-top: 20px;" >
        <app-confirm tipo="Borrar" icono="trash" mensaje="¿Deseas borrar este evento?" color="danger" (confirmacion)="eliminar($event)"></app-confirm>
    </div>
    </div>
</p-dialog>
</div>
