<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button [raised]="true" [outlined]="true" (click)="showDialog()" icon="pi pi-pencil" label="Editar sección"></p-button>
  }
  <p-dialog header="Editar sección" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="username1">Título</label>
                <input  class="{{estiloValidacionTitulo}}" pInputText id="username1" aria-describedby="username-help1" [(ngModel)]="seccionEditar.titulo" />
                <small id="username-help1">Introduce un título para la sección</small>
            </div>
        
               
            <div class="flex flex-column">
                <label for="archivo" class="boton-bonito">
                    Subir foto
                  </label>
                  <input #archivo id="archivo" type="file" class="form-control" accept="image/*" (change)="uplodadFoto($event)" hidden>
                  
                <!-- <label for="username2">Foto</label> -->
                    <!-- <input #archivo type="file" id="archivo" class="form-control" accept="image/*" (change)="uplodadFoto($event)" > -->
                    <small style="margin-bottom: 20px;" id="username-help2">Subir una foto para esta sección</small>
                    @if(fotoPreview){
                        <p-button [raised]="true" [outlined]="true" (onClick)="limpiarFoto(archivo)">Limpiar</p-button>
                    }
            </div>
            @if(fotoPreview){
              

                    <img style="max-width: 350px; max-height: 300px;" [src]="fotoPreview">
               
                }
                <div class="flex flex-column subcategoria-seleccionada">
                    <label for="username2">Cuerpo</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="seccionEditar.texto" class="{{estiloValidacionTexto}}"></textarea>
                    <small id="username-help2">Escribe el cuerpo de esta sección</small>
                </div>
             
            </div>
        </div>
        <div style="margin-top: 30px;display: flex;gap: 10px;" >

            <app-confirm tipo="Guardar" icono="pi pi-save" mensaje="¿Deseas guardar los cambios?" color="success" (confirmacion)="guardar($event)"></app-confirm>
            <app-confirm tipo="Eliminar" icono="pi pi-trash" mensaje="¿Deseas eliminar esta sección?" color="danger" (confirmacion)="eliminar($event)"></app-confirm>
        </div>
       
  </p-dialog>

</div>
