
<!-- //Óscar -->

    
    <div style="margin-top: 40px;" class="card">
        <p-table
        [value]="listaNoticias"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} noticias"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Administrar Noticias
           
        </div>
    </ng-template>
        <ng-template pTemplate="header">
        
                <tr class="header-glass" style="border: none;" >
                    <th style="width:10%"><app-nueva-noticia></app-nueva-noticia></th>
                    <th style="width:40%">Nombre</th>
                    <th style="width:20%">Categoria</th>
                    <th style="width:30%">Enlace</th>
                </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-noticia>
            <tr class="glass">
                <td><p-button label="Editar" [raised]="true" [outlined]="true" routerLink="/noticia/contenido/{{noticia.id}}" icon="pi pi-pencil" title=""></p-button></td>
                <td>{{ noticia.titulo}}</td>
                @for (categoria of listaCategorias; track categoria.id) {
                    @if(categoria.id==noticia.idCategoria){
                        <td>{{categoria.nombre}}</td>
                    }
                }

                @if(noticia.enlace!=undefined){ 
                    <td><a target="_blank" href="{{noticia.enlace}}">{{noticia.enlace}}</a></td>
                }@else {
                    <td>[Sin enlace]</td>
                }
             
            </tr>
            
        </ng-template>
        <div style="max-width: 70rem;">

            <ng-template pTemplate="paginatorleft">
                <div class="header">
                </div>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                
            </ng-template>
        </div>
    </p-table>
</div>

