@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Hellix';
    src: url('../font/Hellix-SemiBold.eot');
    src: local('../font/Hellix SemiBold'), local('Hellix-SemiBold'),
        url('../font/Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Hellix-SemiBold.woff2') format('woff2'),
        url('../font/Hellix-SemiBold.woff') format('woff'),
        url('../font/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Óscar */
  *{
    
    font-family: hellix;
  }
  html {
    background-color: rgb(182, 250, 182);
    background-image: linear-gradient(250deg, rgba(182, 250, 182, 0.8), rgba(250, 182, 182, 0.8));
 
    background-size: 200% 200% !important;
  }
  
  .glass{
    z-index: -1;
     background-color: rgba(255, 255, 255, 0.45);
     box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.25);

 }
 .header-glass{
     z-index: -1;
     background-color: rgba(255, 255, 255, 0.75); 
     box-shadow: 0 0 5px 1px rgba(112, 103, 103, 0.25);
   background-repeat:no-repeat;
   background-size: 100vw 600vh;

 }
 .p-paginator-bottom{
   z-index: -1;
     background-color: rgba(255, 255, 255, 0.75); 
     box-shadow: 0 0 5px 1px rgba(112, 103, 103, 0.25);
   background-repeat:no-repeat;
   background-size: 100vw 600vh;
   max-width: 80rem;
   margin: auto;
   border-radius: 0px 0px 20px 20px;
 }



 .p-dialog-content{

  background-color: rgb(250, 246, 246); 
  box-shadow: 0 0 5px 1px rgba(112, 103, 103,);
background-repeat:no-repeat;
background-size: 100vw 600vh;
}
.custom-dialog{
  width: 100% !important;
}

.p-datatable .p-datatable-header {
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.75); 
  box-shadow: 0 0 5px 1px rgba(112, 103, 103, 0.25);
background-repeat:no-repeat;
background-size: 100vw 600vh;
border: none;
border-radius: 20px 20px 0px 0px;
min-width: 50rem ;max-width:80rem; margin: auto;
    }

  .p-datatable-footer{
    background-color: rgba(255, 255, 255, 0.75); 

background-repeat:no-repeat;
background-size: 100vw 600vh;
border: none;
border-radius: 0px 0px 20px 20px;
z-index: -1;

    min-width: 50rem ;max-width:80rem; margin: auto;
  }

  .p-button.p-button-outlined:hover {
    background-color: #cacaca;
    
    border: 1px solid;
  }

  .p-ripple.p-element.p-menuitem-link.ng-star-inserted:hover {
    background-color: #cacaca;
    border-radius: 10px;
    color: #000;
  }
  .p-dialog{
    max-width: 90%;
  }

  .p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #ffffff;
    color: #4b5563;
    padding: 0 0 1rem 1rem;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    gap: 10px;
    width: 100%;
  }


  .p-card {
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    backdrop-filter: blur(15px);
  }

  img{

    border-radius: 20px !important;
  }
  .p-card .p-card-body {
    padding: 0.3rem;
    color: #224 !important;

  }

  i.pi.pi-external-link:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(61, 61, 102);
  }

  a {
    text-decoration: none; 
    font-size: 0.85em;
    color: #446;
}

a:hover {
  text-decoration: none; 
  font-size: 0.85em;
  color: rgb(40, 40, 53);
}


.p-card .p-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #000000 !important;
  background: #c2c2c2;
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
  color: #000;
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: #000000;
}
.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text:hover {
  color: #040404;
}

.p-splitbutton.p-button-outlined > .p-button:not(:disabled):hover {
  background-color: #cacaca;
    
  border: 1px solid;
}
#errorLogin{
  color:red !important;
  background-color: grey;
}


.p-card-header img {
  max-width: 100%;
  max-height: 300px;
}

.boton-bonito {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #6b7280;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid;
  border-color: #d1d5db
}
.boton-bonito:hover{
  border-color: #3B82F6
}

