@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@font-face {
    font-family: 'Hellix';
    src: url('../font/Hellix-SemiBold.eot');
    src: local('../font/Hellix SemiBold'), local('Hellix-SemiBold'),
        url('../font/Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Hellix-SemiBold.woff2') format('woff2'),
        url('../font/Hellix-SemiBold.woff') format('woff'),
        url('../font/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

  *{
    font-family: hellix;
  }
  html{
    background-color: rgb(170, 231, 255);
  }