<p-toast></p-toast>
<!-- //Óscar -->
<div class="card flex justify-content-center">
  @if(tipo==0){
  <p-button  [raised]="true" severity="success" [outlined]="true" (click)="showDialog()" icon="pi pi-plus" label="Añadir seccion"></p-button>
  }
  <p-dialog header="Crear nueva seccion" [(visible)]="visible" [modal]="true" 
    [draggable]="false" [resizable]="false">


    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="username1">Titulo</label>
                <input  class="{{estiloValidacionTitulo}}" pInputText id="username1" aria-describedby="username-help1" [(ngModel)]="nuevaSeccion.titulo" />
                <small id="username-help1">Introduce un titulo para la nueva seccion</small>
            </div>
        
            <div class="flex flex-column">
                <label for="archivo" class="boton-bonito">
                    Subir foto
                  </label>
                  <input #archivo id="archivo" type="file" class="form-control" accept="image/*" (change)="uplodadFoto($event)" hidden>
                  
                <!-- <label for="username2">Foto</label> -->
                    <!-- <input #archivo type="file" id="archivo" class="form-control" accept="image/*" (change)="uplodadFoto($event)" > -->
                    @if(fotoPreview){
                        <p-button [raised]="true" severity="warning" [outlined]="true" (onClick)="limpiarFoto(archivo)">Limpiar</p-button>
                    }
                <small id="username-help2">Subir una foto para esta sección</small>
            </div>
            @if(fotoPreview){
                <img style="max-width: 350px; max-height: 300px;" [src]="fotoPreview">
            }
                <div class="flex flex-column subcategoria-seleccionada">
                    <label for="username2">Cuerpo</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="nuevaSeccion.texto" class="{{estiloValidacionTexto}}"></textarea>
                    <small id="username-help2">Escribe el cuerpo de esta sección</small>
                </div>
             
            </div>
        </div>
        <div style="margin-top: 20px;" >

            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas crear esta nueva seccion?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
  </p-dialog>
</div>
