
<!-- //Óscar -->
<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="listaFranjas"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} franjas"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Franjas
           
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass">
                <th><app-nueva-franja></app-nueva-franja></th>
                <th style="width:10%"><app-ordenar-horarios></app-ordenar-horarios></th>
                <th style="width:40%">Turno</th>
                <th style="width:30%">Hora Inicio</th>
                <th style="width:20%">Hora fin</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-franja>
            <tr class="glass">
                <td><app-editar-franja [id]="franja.id"></app-editar-franja></td>
                <td>{{ franja.orden+'a'}}</td>
                <td>{{ franja.turno}}</td>
                <td>{{ franja.horaInicio}}</td>
                <td>{{ franja.horaFin}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>
